<style type="text/css">
	<!--
	.dlog form{
		margin: 10px;
	}
	.dlog form div{
		height: 35px;
	}
	.dlog form div label{
		width: 100px;
	}
	-->
</style>
<div id="bb" class="easyui-layout" data-options="fit:'true'">
	<div data-options="region:'center',title:'管理员列表'">
		<!--管理员列表-->
		<table id="rootgrid" class="easyui-datagrid"  data-options="fit:'true',pageSize:'20',singleSelect:true,url:'./index.php?r=admin/root/rootlist'"
			   toolbar="#roottoolbar" pagination="true" rownumbers="true" fitColumns="true">
			<thead>
				<tr>
					<th data-options="field:'id',checkbox:true"></th>
					<th align="center" data-options="field:'user'" width="50px">账号</th>
					<th align="center" data-options="field:'time'" width="50px">创建时间</th>
				</tr>
			</thead>
		</table>
		<div id="roottoolbar">
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-add" plain="true" onclick="newroot()">添加用户</a>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-edit" plain="true" onclick="editroot()">修改用户</a>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-remove" plain="true" onclick="destroyroot()">删除用户</a>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				iconCls="icon-reload" plain="true" onclick="reload()">刷新列表</a>
			<label>用户名:</label>
			<input name="lastname" class="easyui-validatebox" id="queryroot">
			<a href="javascript:void(0);" class="easyui-linkbutton" iconCls="icon-search"  onclick="searchroot()">查询</a>
		</div>
		<!--管理员列表-->
	</div>
</div>
<!--添加窗口-->
<div id="addroot" class="easyui-dialog dlog" style="width: 400px; height: 380px; padding: 10px 20px" data-options="buttons:'#addroot-buttons',closed:true">
	<form id="addrootForm" method="post" novalidate>
		<div class="fitem">
			<label align="right">账号:</label>
			<input name="user" class="easyui-textbox" required="true">
		</div>
		<div class="fitem">
			<label align="right">密码:</label>
			<input name="pwd" type="password" class="easyui-textbox" required="true">
		</div>
		<div class="fitem">
			<label align="right">重复密码:</label>
			<input name="pwds" type="password" class="easyui-textbox" required="true">
		</div>
	</form>
</div>
<div id="addroot-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton"
	   iconCls="icon-ok" onclick="saveroot()">保存</a>
	<a href="javascript:void(0)" class="easyui-linkbutton"
	   iconCls="icon-cancel" onclick="javascript:$('#addroot').dialog('close')">关闭</a>
</div>
<!--添加窗口-->
<!--修改窗口-->
<div id="editroot" class="easyui-dialog dlog" style="width: 400px; height: 380px; padding: 10px 20px"
	 data-options="closed:true,buttons:'#editroot-buttons',modal:true">
	<form id="editrootform" method="post" novalidate>
		<div class="fitem" style="display: none;">
			<label align="right">用户ID:</label>
			<input name="id" id="id1" class="easyui-textbox" required="true">
			<!--<input name="deptId" class="easyui-textbox" required="true">-->
		</div>
		<div class="fitem">
			<label align="right">账号:</label>
			<input name="user" id="user1" class="easyui-textbox" readonly="readonly" required="true">
		</div>
		<div>
			<label align="right">旧密码:</label>
			<input name="pwdold" id="pwdold1" type="password" class="easyui-textbox" required="true">
		</div>
		<div>
			<label align="right">新密码:</label>
			<input name="pwdnew" id="pwdnew1" type="password" class="easyui-textbox" required="true">
		</div>
		<div>
			<label align="right">重复密码:</label>
			<input name="pwds" id="pwds1" type="password" class="easyui-textbox" required="true">
		</div>
	</form>
</div>
<div id="editroot-buttons">
	<a href="javascript:void(0)" class="easyui-linkbutton"
	   iconCls="icon-ok" onclick="editsaveroot()">保存修改</a> <a
		href="javascript:void(0)" class="easyui-linkbutton"
		iconCls="icon-cancel" onclick="javascript:$('#editroot').dialog('close')">关闭</a>
</div>
<!--修改窗口-->
<script type="text/javascript" src="./js/root.js"></script>

